/* css guide */

/* 1. General */
/* 2. Grid */
/* 3. Header */
/* 4. Icons */
/* 5. Footer */

.hidden {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: 'Orbitron', sans-serif;
}

/* 2. Grid */

.grid {
    display: grid;
    padding-left: 15px;
    margin-top: 15px;
    grid-template-columns: repeat(12, 70px);
    grid-column-gap: 30px;
}

/* 3.Header */

#main-header nav {
    background-color: #575757;
    grid-column: 2/-1;
    border-radius: 30px;
}

#main-header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

#main-header nav ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

#nav-logo {
    margin-top: 5px;
    width: 100px;
    height: 50px;
    background-color: #575757;
}

/* 4.hero */

#hero {
    display: grid;
    grid-column: 1/-1;
}

#hero h2 {
    text-align: center;
    grid-column: 5/9;
    grid-row: 1/2;
    font-size: 30px;
}

#hero-text {
    text-align: center;
    grid-row: 4/5;
    grid-column: 5/9;
    font-size: 20px;
}

#disco {
    grid-column: 6/8;
    grid-row: 2/3;
    margin-bottom: 20px;
}

.music-player {
    margin-top: 20px;
    margin-bottom: 40px;
    grid-row: 3/4;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
}


/* 5.icons */

#music-images {
    display: grid;
    background-color: #575757;
    border-radius: 40px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.box {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.box h3 {
    display: wrap;
    justify-content: center;
    color: #fff;
}

.line {
        grid-column: 2/12;
        border: none;
        border-top: solid 3px #fff;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 60px;
        grid-row: 3/4;
}

.box3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    grid-column: span 3;
    grid-row: 5/6;
}

